<div class="flex justify-center items-center min-h-[100vh] w-full">
  <div class="shadow p-3 rounded-lg w-[50%] bg-card">
    <div>
      <i class="ti ti-brand-tabler"></i>
      <p class="text-xl">Bem vindo</p>
      <p class="text-secondary ">Logue em sua conta</p>
    </div>

    <form class="mt-5 flex flex-col example-form">
      <mat-form-field
        class="example-full-width"
        floatLabel="auto"
        appearance="outline"
      >
        <mat-label>Email</mat-label>
        <input matInput placeholder="" value="" />
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        floatLabel="auto"
        appearance="outline"
      >
        <mat-label>Senha</mat-label>

        <input matInput placeholder="" />
      </mat-form-field>
    </form>
  </div>
</div>
