<section class="p-4 border-b">
  <nav class="flex justify-between items-center">
    <div class="flex space-x-4 items-center gap-5">
      <div class="flex gap-4">
        <a
          routerLink="app/dashboard"
          class="hover:text-primary/80 cursor-pointer transition-colors"
        >
          Dashboard
        </a>
        <a routerLink="app" class="hover:text-primary/80 cursor-pointer transition-colors">
          Home
        </a>
      </div>
    </div>

    <!-- nav tools  -->
    <div>

    </div>
  </nav>
</section>
