<div class="flex justify-center items-center min-h-[100vh] w-full">
  <div class="shadow p-6 rounded-lg md:w-[45%] lg:w-[30%] bg-card">
    <div>
      <div class="text-primary">
        <i class="ti ti-brand-tabler"></i>
      </div>
      <div>
        <p class="text-2xl">Login</p>
        <p class="text-secondary text-sm">Bem vindo a sua gestão financeira</p>
      </div>
    </div>

    <form
      [formGroup]="form"
      class="max-w mx-auto my-5 flex flex-col gap-4"
      (ngSubmit)="submitForm()"
    >
      <app-input
        formControlName="email"
        [placeholder]="'Digite seu nome'"
        [type]="'email'"
        [icon]="'mail'"
        [required]="true"
      ></app-input>

      <app-input
        formControlName="password"
        [placeholder]="'Digite seu nome'"
        [type]="'email'"
        [icon]="'key'"
        [required]="true"

      ></app-input>

      <button
        type="submit"
        class="bg-primary hover:bg-primary/80 py-2 px-4 mt-4 text-sm rounded-lg"
      >
        Login
      </button>

      <div class="flex gap-1 cursor-pointer justify-center text-sm">
        <p>Não tem uma conta ?</p>
        <a class="text-primary">Crie uma conta </a>
      </div>
    </form>
  </div>
</div>
